/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul li{
    display: inline-block;
}

/* UTILS */

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px dashed black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section-header {
    background-color: #ADD8E7;
    height: 450px;
    align-items: flex-start;
}

.page-header2 {
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    background-color: #00018B;
    height: 395px;
}

.page-header1 > .container{
    display: flex;
    justify-content: space-between;
    background-color: #DAA71F;
    margin-top: 10px;
}

.container .logo {
    padding: 5px;
    width: 25%;
}

.container .links {
    padding: 5px;
    width: 50%;
    text-align: center;
}

.container .login {
    border: 1px dashed black;
    padding: 5px;
    width: 25%;
    text-align: right;
}

.container.small-container{
    background-color: #EF82ED;
    width: 750px;
    height: 330px;
}